.calendar-day {
    border-radius: 8px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    font-family: "Roboto Light", sans-serif;
    padding: 4px 4px 4px 4px;
}

.hidden-tile {
    display: none;
}
